# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
myenv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Environment variables and secrets
.env
.env.*

# Editor backups and swap files
*~
*.swp

# MyPy cache
.mypy_cache/

# Pyre type checker cache
.pyre/

# Profiling data
.prof
